.list {
  margin: 50px;
  width: 80%;
  max-width: 350px;
}

.item {
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(138, 132, 132);
  background-color: #fff;
  padding: 10px 0;
  font-weight: 500;
  font-size: 28px;
}

.item:not(:last-of-type) {
  margin-bottom: 15px;
}

.avatar {
  width: 70px;
}

.offline,
.online {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 15px;
}

.online {
  background-color: rgb(50, 146, 50);
}

.offline {
  background-color: rgb(213, 43, 43);
}
