.transaction-history {
  box-shadow: 1px 1px 5px rgb(138, 132, 132);
  background-color: #fff;
  border-radius: 5px;
  margin: 50px 0;
}

thead {
  color: #fff;
  background-color: rgb(81, 200, 200);
  text-transform: uppercase;
}

td,
th {
  padding: 15px 0;
  width: 300px;
  text-align: center;
}

tbody {
  color: rgb(166, 165, 165);
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
